@import '../../app.scss';

.parallax {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;

    h1 {
        font-size: 90px;

        @include mobile {
            font-size: 60px;
        }

        position: absolute;
        top: 10%;
    }

    .earth {
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;

        @include mobile {
            background-repeat: no-repeat;
        }
    }
}