@import '../../app.scss';

.portfolio {
    position: relative;

    .progress {
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        color: orange;
        font-size: 30px;

        @include mobile {
            padding-top: calc(100vh - 80px);
            font-size: 20px;
        }


        .progressBar {
            height: 7px;
            background-color: white;

            @include mobile {
                height: 4px;
            }
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .wrapper {
            max-width: 1366px;
            height: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;

            @include mobile {
                flex-direction: column;
                // justify-content: center;
                gap: 0px;
            }

            .imageContainer {
                flex: 1;
                height: 38%;

                @include mobile {
                    width: 90%;
                    max-height: 400px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .textContainer {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 30px;

                .tech {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 20px;

                    @include mobile {
                        gap: 8px;
                    }

                    .techItem {
                        background-color: rgba(112, 128, 144, 0.282);
                        padding: 8px 18px;
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                        border-bottom-right-radius: 0;
                        animation: flicker 5s infinite alternate;

                        @include mobile {
                            padding: 5px 8px;
                            font-size: x-small;
                        }
                    }

                    @keyframes flicker {
                        0% {
                            opacity: 1;
                        }

                        50% {
                            opacity: 0.4;
                        }

                        100% {
                            opacity: 1;
                        }
                    }
                }

                .buttons {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                @include mobile {
                    transform: none !important;
                    gap: 20px;
                    width: 90vw;
                    // doubtful line
                    margin-top: -40px;
                }

                h2 {
                    font-size: 60px;

                    @include mobile {
                        font-size: 32px;
                    }
                }

                p {
                    color: gray;
                    font-size: 18px;

                    @include mobile {
                        font-size: 13px;
                    }
                }

                a {
                    z-index: 800;

                    button {
                        background-color: orange;
                        border: none;
                        border-radius: 10px;
                        padding: 10px;
                        width: 160px;
                        cursor: pointer;
                        font-size: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 15px;

                        @include mobile {
                            font-size: 13px;
                            width: 110px;
                            gap: 7px;
                            padding: 7px;
                        }
                    }
                }
            }
        }
    }
}