@import '../../app.scss';

.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .scrollUp{
        img{
            rotate: 180deg;
            width: 50px;
            margin-bottom: 20px;

            @include mobile{
                width: 30px;
                margin-bottom: 10px;
            }
        }
    }

    .contact {
        height: 80%;
        width: 90%;
        // max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;

        @include mobile {
            width: 100%;
            padding: 10px;
            flex-direction: column;
            gap: 0px;
            justify-content: center;
        }

        .textContainer {
            flex: 1;
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 40px;

            @include mobile {
                gap: 20px;
                text-align: center;
                align-items: center;
                margin-top: 20px;
            }

            h1 {
                font-size: 70px;
                line-height: 80px;

                @include mobile {
                    font-size: 28px;
                    line-height: 35px;
                    margin-top: 40px;
                }
            }

            h2 {
                @include mobile {
                    font-size: 15px;
                }
            }

            span {
                font-weight: 300;

                @include mobile {
                    font-size: 11px;
                }
            }

        }

        .formContainer {
            flex: 1;
            position: relative;

            .phoneSvg {
                stroke: orange;
                position: absolute;
                margin: auto;
                z-index: -1;

                @include mobile {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100vw;
                    margin-top: 100px;
                }

                svg {
                    height: 450px;
                    width: 450px;

                    @include mobile {
                        height: 200px;
                        width: 200px;
                    }
                }
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 20px;

                @include mobile {
                    width: 100vw;
                    padding: 50px;
                    gap: 10px;
                }

                input,
                textarea {
                    padding: 20px;
                    background-color: transparent;
                    border: 1px solid white;
                    color: white;
                    border-radius: 5px;

                    @include mobile {
                        padding: 10px;
                    }
                }
                textarea{
                    @include mobile{
                        height: 100px;
                    }
                }

                button {
                    padding: 20px;
                    border: none;
                    background-color: orange;
                    cursor: pointer;
                    border-radius: 5px;
                    font-size: 18px;
                    font-weight: 500;

                    @include mobile {
                        padding: 10px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}