@import '../../app.scss';

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0D1D52;
    // background: #0d1d52c4;
    color: white;
    z-index: 999;
    
    .bg{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 400px;
        // background-color: #0D1D52;
        background: #0d1d52f7;
        z-index: 999;

        @include mobile{
            width: 200px;
        }

        .links{
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            z-index: 999;

            a{
                font-size: 27px;
                z-index:999;

                @include mobile{
                    font-size: 15px;
                }
            }
        }
    }

    button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        top: 28px;
        left: 26px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 999;

        svg{
            width: 21px;
            height: 21px;

            @include mobile{
                width: 18px;
                height: 18px;
            }
        }

        @include mobile{
            top: 28px;
            left: 26px;
        }
    }
}