@import '../../app.scss';

.cursor{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid white;
    position: fixed;
    z-index: 999;

    @include mobile{
        display: none;
    }
}